html {
    height: 100px;
    width: 200px;
}

body {
    height: 100%;
    width: 100%;
    background-color: #23272A;
}

#translate {
    width: 90%;
    height: 90%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    color: white;
    border-color: white;
    background-color: transparent;
}

.emoji {
    height: 30px;
    width: auto;
}